/Client/littleBee/Library
/Client/littleBee/.idea
/Client/littleBee/Temp
/Client/littleBee/Build
/Server/GateServer/.idea
/Server/GateServer/obj
/Client/littleBee/Logs
/Client/littleBee/Assembly-CSharp.csproj
/Client/littleBee/Assembly-CSharp.Player.csproj
/Client/littleBee/obj

/Client/littleBee/.vs
/Server/GateServer/.vs

/Client/littleBee/littleBee.sln.DotSettings.user
/Server/RoomServer/.idea
/Server/RoomServer/obj
/Server/RoomServer/.vs
